.site-footer {
    height: 35px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #E4E4E4;
    color: #909AD4;
    font-size: 13px;
}
